.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1;
    font-size: 3rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 1rem 0;
    line-height: 1;
    font-size: 1rem;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
}

.card {
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 0 0;
    font-size: 1rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.btn_green {
    @apply font-bold px-2 rounded;
    @apply bg-green-500 text-white;
    @apply hover:bg-green-700;
    @apply w-7;
    margin-right: 5px;
}

.btn_red {
    @apply font-bold px-2 rounded;
    @apply bg-red-500 text-white;
    @apply hover:bg-red-700;
    @apply w-7;
}